<div class="card" style="max-width: 400px;">
    <div class="card-header">
     <h2>Create an Account</h2>
    </div>
    <div class="card-body">
     <div class="mb-3">
       <label for="exampleInputEmail1" class="form-label">Email address</label>
       <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
       <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
     </div>
     <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">First Name</label>
        <input type="text" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">MI</label>
        <input type="text" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="exampleInputPassword1">
    </div>
     <div class="mb-3">
       <label for="exampleInputPassword1" class="form-label">Mobile Phone</label>
       <input type="password" class="form-control" id="exampleInputPassword1">
       <div id="emailHelp" class="form-text">For 2 Factor Authentication Only.</div>       
     </div>
     <button (click)="nextStep()" class="btn btn-primary">Next</button>
    </div>
 </div>