<div class="card" style="max-width: 500px;">
    <div class="card-header">
     <h2>Create an Account</h2>
    </div>
    <div class="card-body">
     <div class="mb-3">
       <label for="exampleInputEmail1" class="form-label">Email address</label>
       <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" aria-describedby="email">
       <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
     </div>
     <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">First Name</label>
        <input type="text" name="first_name" [(ngModel)]="first_name" class="form-control" id="first_name">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">MI</label>
        <input type="text" name="middle_initial" [(ngModel)]="middle_initial" class="form-control" id="middle_initial">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Last Name</label>
        <input type="text" name="last_name" [(ngModel)]="last_name" class="form-control" id="last_name">
    </div>
     <div class="mb-3">
       <label for="exampleInputPassword1" class="form-label">Mobile Phone</label>
       <input type="text" name="phone_mobile" [(ngModel)]="phone_mobile" class="form-control" id="phone_mobile">
       <div id="emailHelp" class="form-text">For 2 Factor Authentication Only.</div>       
     </div>
     <button (click)="postForm()" class="btn btn-primary">Next</button>
    </div>
 </div>