<div class="card" style="max-width: 400px;">
   <div class="card-header">
    <h2>Please Login to Continue</h2>
   </div>
   <div class="card-body">
    <div *ngIf="step=='1'" class="mb-3">
      <p>Email Address</p>
      <mat-form-field style="width:95%"  appearance="outline">
        <input matInput (keydown.enter)="nextStep()" [(ngModel)]="email" [type]="'text'" name="email">
    </mat-form-field>
      <div id="emailHelp" [innerHTML]="error" class="form-text" style="color:red"></div>
    </div>
    <div *ngIf="step=='2'" class="mb-3">
      <p>Password</p>
      <mat-form-field style="width:95%"  appearance="outline">
        <input [(ngModel)]="password"  matInput [type]="showPassword ? 'text' : 'password'" name="password">
        <mat-icon matSuffix (click)="togglePasswordVisibility()">
          {{showPassword?'visibility_off':'visibility'}}
      </mat-icon>
    </mat-form-field>
      <div id="emailHelp" [innerHTML]="error" class="form-text" style="color:red"></div>
    </div>
    <div *ngIf="step=='3'" class="mb-3">
        <label for="exampleInputPassword1" class="form-label">OTP (Google Authenticator)</label>
        <input type="text" [(ngModel)]="otp" class="form-control" id="exampleInputPassword1">
    </div>
    <div *ngIf="step=='4'" class="mb-3">
        <h2>Ready for 2FA?</h2>
        <p>Download the Google Authenticator app and setup 2 Factor Authentication.</p>
        <p>Without 2 Factor Authentication you will not be able to digitally sign or upload documents.</p>
        <input type="text" class="form-control" id="exampleInputPassword1">
    </div>
    <div *ngIf="step=='4'" class="mb-3">
        <h2>Enter the next code displayed on Google Authenticator.</h2>
        <p>Wait for the next code to be displayed and then enter it to continue.  This will confirm that Google Authenticator was setup correclty.</p>
        <input type="text" class="form-control" id="exampleInputPassword1">
    </div>
    <button (click)="nextStep()" class="btn btn-primary">Next</button>
    <button *ngIf="step=='2'" (click)="nextStep()" class="btn btn-light">Start Over</button>
   </div>
</div>